https://www.thegreatcourses.com/

Search “math”. From search result choose zero to infinity

Then choose dvd to add to cart
Click on checkout
Step-by-step do checkout till order review.

write test case and create maven project.