NEW MAVEN PROJECT FOR PAGE OBJECT MODEL:::

http://store.demoqa.com/

1.	LANDING IN DEMOQA PAGE, PRINT TITLE
2.	CLICKING ON IPHONE FROM PRODUCT CATEGORY
3.	PRINT IPHONE PAGE HEADER(“IPHONE”)
4.	CHOOSE IPHONE 4S AND ADD TO CART
5.	CLICK ON CHECKOUT
6.	PRINT SUB-TOTAL AND PRICE
7.	CLICK ON CONTINUE
8.	PRINT TOTAL PRICE…..
9.	TAKE SCREENSHOT
10.	END TEST CASE